extends layout

block content 
   h1.heading= title 

   ul 
      each author in authorList 
         li
            a(href=author.url)  #{author.name} 
            |  (#{author.dateOfBirth} - #{author.dateOfDeath})